* {
  box-sizing: border-box;
}

main {
  background-color: rgb(176, 75, 75);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  background: none;
  background-color: white;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid grey;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(90%);
}

.row-container {
  height: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-row-btn {
  font-size: 1.5rem;
  background-color: white;
  padding: 5px;
}

.row-list {
  background-color: rgb(254, 241, 225);
  height: 100%;
  min-width: 400px;
  width: fit-content;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  overflow-y: scroll;
}

.row {
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin: 0px 3px;
}

.row-input {
  margin: 0px 5px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.delete-btn {
  margin: 0px 3px;
  background-color: rgb(235, 4, 4);
  color: white;
}

.disable-btn {
  width: 72px;
}

.result-container {
  background-color: rgb(165, 15, 15);
  color: white;
  font-size: 1.2rem;
  width: 400px;
  padding: 30px;
  padding-top: 0px;
  border-radius: 15px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
